div h2 {
    font-style: italic;
}

h2 + p {
    color:red;
}

div > ul{
    list-style-type: none;
}

.list > li{
    border-bottom: solid gray 1px;
}

li a:link{

    color:green;
}
li a:visited{
    color:red;
}
li a:hover{
    color:pink;
}
li:first-child::first-letter{

    font-weight: bold;
    font-size: 120%;

}
a[href="https://bcit.ca"]{
    background-color: yellow;
}
